<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define CV-Toolkit_TargetDir=$(var.CV-Toolkit.TargetDir)?>
	<Product Id="ccc37b23-2395-4a49-a96f-f26d52696b7e" Name="CV Toolkit" Language="1033" Version="1.0.0.0" Manufacturer="Clemson University" UpgradeCode="70ff3686-ec5f-408b-9f74-d2c75fdf4317">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="logo.ico" SourceFile="$(var.ProjectDir)Images\logo.png" />
    <Property Id="ARPPRODUCTION" Value="logo.ong" />

    <UIRef Id="WixUI_Minimal" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <WixVariable Id="WixUIBannerBmp" Value="Images\topBanner2.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Images\banner2.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\License.rtf" />
    
    
		<Feature Id="ProductFeature" Title="CV Toolkit" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="Images_files" />
			<ComponentGroupRef Id="Resources_files" />

      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      
      
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="CV Toolkit">
				  <Directory Id="Images" Name="Images" />
				  
				  <Directory Id="Resources" Name="Resources" />
				</Directory>
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="CV Toolkit" />
      </Directory>
      <Directory Id="DesktopFolder" Name="CV Toolkit" />
     </Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!--<Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
       
			<!-- </Component> -->
			<Component Id="OpenStreetMap_CV_Toolkit.exe" Guid="28e264b1-bb71-4811-ab0f-9f9c6e3c5765">
			  <File Id="OpenStreetMap_CV_Toolkit.exe" Name="OpenStreetMap_CV-Toolkit.exe" Source="$(var.CV-Toolkit_TargetDir)OpenStreetMap_CV-Toolkit.exe" />
			</Component>
			<Component Id="OpenStreetMap_CV_Toolkit.exe.config" Guid="60509b75-2403-46e7-969d-ed7e4e7d831f">
			  <File Id="OpenStreetMap_CV_Toolkit.exe.config" Name="OpenStreetMap_CV-Toolkit.exe.config" Source="$(var.CV-Toolkit_TargetDir)OpenStreetMap_CV-Toolkit.exe.config" />
			</Component>
			<Component Id="GMap.NET.Core.dll" Guid="8c2a6ef0-0f02-47c8-a4fb-a853977cd99d">
			  <File Id="GMap.NET.Core.dll" Name="GMap.NET.Core.dll" Source="$(var.CV-Toolkit_TargetDir)GMap.NET.Core.dll" />
			</Component>
			<Component Id="GMap.NET.WindowsForms.dll" Guid="d5c0d65b-a79d-4a40-bc72-1aaeee3248cb">
			  <File Id="GMap.NET.WindowsForms.dll" Name="GMap.NET.WindowsForms.dll" Source="$(var.CV-Toolkit_TargetDir)GMap.NET.WindowsForms.dll" />
			</Component>
			<Component Id="Json.dll" Guid="116e1b78-5cf1-47f7-952e-dfa53a65cce5">
			  <File Id="Json.dll" Name="Json.dll" Source="$(var.CV-Toolkit_TargetDir)Json.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="2509158f-1866-454e-a439-ef06fa62cd20">
			  <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.CV-Toolkit_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="logo.ico" Guid="0d96a5fa-31ec-45f8-aea0-fd32d42d1292">
			  <File Id="logo.ico" Name="logo.ico" Source="$(var.CV-Toolkit_TargetDir)logo.ico" />
			</Component>
    </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="Images_files" Directory="Images">
	    <Component Id="Images_logo.png" Guid="4f601a10-db3b-4a19-a24d-ad541dfe2684">
	      <File Id="Images_logo.png" Name="logo.png" Source="$(var.CV-Toolkit_TargetDir)Images\logo.png" />
	    </Component>
	  </ComponentGroup>
	</Fragment>



  <Fragment>
    <ComponentGroup Id="Resources_files" Directory="Resources">
      <Component Id="Resources_save.png" Guid="647ece09-f88d-4ff2-a3d7-75793f5ccc15">
        <File Id="Resources_save.png" Name="save.png" Source="$(var.CV-Toolkit_TargetDir)Resources\save.png" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="ccc37b23-2395-4a49-a96f-f26d52696b7e">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="CV Toolkit" Description="Data sharing platform for CU-CVT" 
                  Target="[INSTALLFOLDER]OpenStreetMap_CV-Toolkit.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\CV Toolkit" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="7b6d00f5-5596-4c99-845b-99f7fbbbdd63">
        <Shortcut Id="ApplicationDesktopShortcut" Name="CV Toolkit" Description="CV Toolkit" 
                  Target="[INSTALLFOLDER]OpenStreetMap_CV-Toolkit.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\CV Toolkit" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>  
</Wix>
