<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net452" />
  <package id="jQuery" version="2.1.1" targetFramework="net452" />
  <package id="JSON" version="1.0.1" targetFramework="net452" />
  <package id="kayChart.dll" version="0.4.7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net452" />
  <package id="WiX" version="3.11.0" targetFramework="net452" />
</packages>